<div class="snippet-compute-container">
  <mat-form-field class="full-width-textarea">
    <mat-label>Code</mat-label>
    <textarea matInput cdkTextareaAutosize [(ngModel)]="value" (input)="onTextChange()"
      placeholder="#!/usr/bin/env python3 ... #!/bin/sh ..." cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="20">
      </textarea>
  </mat-form-field>
  <mat-form-field class="full-width-textarea" *ngIf="output">
    <mat-label>Output</mat-label>
    <textarea matInput cdkTextareaAutosize readonly cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20">{{output}}</textarea>
  </mat-form-field>
  <button mat-raised-button [disabled]="isPlayButtonDisabled" (click)="onPlayButtonClick()">Play</button>
</div>