<div class="sheet-container">
  <mat-card class="sheet-card">
    <mat-card-header class="sheet-card-header">
      <span class="header-spacer"></span>
      @if (snippets.length > 0) {
      <button mat-icon-button aria-label="Save sheet" (click)="saveSheet()">
        <mat-icon>save</mat-icon>
      </button>
      }
    </mat-card-header>
    <mat-card-content class="sheet-card-content" cdkDropList (cdkDropListDropped)="drop($event)">
      @if (snippets.length === 0) {
      <p>No snippets added yet. Click a button to add one!</p>
      }
      @for (snippet of snippets; track snippet.id; let i = $index) {
      <div class="snippet-container" cdkDrag>
        @switch (snippet.type) {
        @case ('text') {
        <app-snippet-text [id]="snippet.id" [value]="snippet.value" (updateSnippet)="updateSnippet($event)">
        </app-snippet-text>
        }
        @case ('compute') {
        <app-snippet-compute [id]="snippet.id" [value]="snippet.value" [output]="snippet.output" (updateSnippet)="updateSnippet($event)" (finishedProcessing)="handleFinishedProcessing($event)">
        </app-snippet-compute>
        }
        }
      </div>
      }
    </mat-card-content>
    <!-- Add File Manager Component below snippets, but still within the card -->
    <mat-card-content class="file-manager-section">
      <app-file-manager></app-file-manager>
    </mat-card-content>
    <mat-card-actions class="sheet-card-actions">
      <button mat-raised-button color="primary" (click)="addSnippet('text')">
        <mat-icon>text_fields</mat-icon>
        Add Text Snippet
      </button>
      <button mat-raised-button color="accent" (click)="addSnippet('compute')">
        <mat-icon>functions</mat-icon>
        Add Compute Snippet
      </button>
    </mat-card-actions>
  </mat-card>
</div>