<div class="sheet-container">
  <mat-card class="sheet-card">
    <mat-card-header>
      <mat-card-title>Sheet Content</mat-card-title>
    </mat-card-header>
    <mat-card-content class="sheet-card-content">
      @if (snippets.length === 0) {
        <p>No snippets added yet. Click a button to add one!</p>
      }
      @for (snippet of snippets; track snippet.id; let i = $index) {
        <div class="snippet-container">
          @switch (snippet.type) {
            @case ('text') {
              <app-snippet-text [id]="snippet.id"
                                (empty)="removeSnippet(snippet.id)">
              </app-snippet-text>
            }
            @case ('compute') {
              <app-snippet-compute [id]="snippet.id"
                                   (empty)="removeSnippet(snippet.id)">
              </app-snippet-compute>
            }
          }
        </div>
      }
    </mat-card-content>
    <mat-card-actions class="sheet-card-actions">
      <button mat-raised-button color="primary" (click)="addSnippet('text')">Add Text Snippet</button>
      <button mat-raised-button color="accent" (click)="addSnippet('compute')">Add Compute Snippet</button>
    </mat-card-actions>
  </mat-card>
</div>
