<div>
  <h4>File Explorer</h4>

  <div>
    <strong>Current Path:</strong> {{ currentListingPath }}
  </div>

  <button mat-stroked-button (click)="listCurrentDirectory('./')"><mat-icon>sync</mat-icon></button>
  <button mat-stroked-button (click)="goToParentDirectory()" [disabled]="currentListingPath === './' || currentListingPath === '/'"><mat-icon>subdirectory_arrow_left</mat-icon></button>


  @if (listedFiles && listedFiles.length > 0) {
    <ul>
      @for (item of listedFiles; track item.name) {
        <li>
          <span>
            @if (item.isDirectory) {
              <button mat-stroked-button (click)="listCurrentDirectory(currentListingPath.endsWith('/') ? (currentListingPath + item.name + '/') : (currentListingPath + '/' + item.name + '/'))"><mat-icon>folder</mat-icon>{{ item.name }}</button>
            } @else {
              <button mat-stroked-button (click)="downloadSelectedFile(item.name)"><mat-icon>insert_drive_file</mat-icon>{{ item.name }}</button>
            }
          </span>
        </li>
      }
    </ul>
  } @else {
    @if (currentListingPath) {
      <p>No files or directories found in {{ currentListingPath }}.</p>
    } @else {
      <p>Click 'Refresh Root' to list files.</p>
    }
  }
</div>
